<md-toolbar class="toolbar">
    <div class="header__logo"></div>
    <a class="header__logo__link" routerLink="/prestige-feed" routerLinkActive="active">
        <strong>JWorks</strong>
        <span> Prestige</span>
    </a>

    <span class="item-spacer"></span>
    <app-search-employees></app-search-employees>
    <span class="item-spacer"></span>

    <div class="header__user">
        <a class="header__avatar" (click)="openAccountDetail()">
            <img class="header__avatar__image" src="{{getLoggedInUserAvatar()}}" alt="">
            <span class="header__avatar__name">{{ getLoggedInUsername() }}</span>
        </a>

        <a href="" (click)="logout()" [hidden]="!isUserLoggedIn()">
            <md-icon class="header__btn header__btn--icon">cancel</md-icon>
        </a>

        <div class="">
            <md-icon (click)="openAddPrestige()" class="header__btn header__btn--icon">plus_one</md-icon>
        </div>
    </div>
</md-toolbar>