.prestige {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin: 10px auto;
  &__employee {
    text-align: center;
    &--bold {
      font-weight: bold;
    }
  }
  &__text {
    border-left: 1px dashed #e0e0e0;
  }
  &__date {
    font-size: 12px;
    font-style: italic;
  }
  &__reason {
    font-size: 20px;
  }
  &__category {
    font-weight: bold;
    color: #1b6d85;
  }
  &__url {
    text-align: right;
    md-icon {
      top: 5px;
      position: relative;
      font-size: 20px;
    }
  }
  &:before {
    content: "|";
    position: absolute;
    top: -20px;
    right: 50%;
    color: #e0e0e0;
  }
}

.centered {
  margin: 0 auto;
  float: none;
}
