<div class="col-lg-12">
  <h3>Prestige Feed</h3>
</div>

<div class="col-lg-8 centered" *ngIf="prestiges">
  <div class="prestige col-lg-12" *ngFor="let prestige of prestiges">
    <div class="col-lg-2 prestige__employee">
      <a routerLink="/employee-detail/{{prestige.id}}" routerLinkActive="active">
        <md-icon>person</md-icon>
        <div style="word-break: break-all">
          {{ prestige.dealer }}
        </div>
      </a>
    </div>
    <div class="col-lg-10 prestige__text">
      <span class="prestige__date">{{ prestige.created | date : 'medium' }}</span>
      <div class="prestige__reason">
        {{ prestige.reason }}
        <a href="">
          <span class="prestige__employee--bold">{{ prestige.receivers }}</span>
        </a>
        in category <span class="prestige__category">{{ prestige.categories }}</span>
      </div>
      <div class="prestige__url" *ngIf="prestige.url">
        <a href="{{prestige.url}}" target="_blank">
          <md-icon class="">link</md-icon>
          {{ prestige.url }}
        </a>
      </div>
    </div>
  </div>
</div>
