<div class="center-block center col-lg-8" *ngIf="employee">
  <h3>Detail</h3>
</div>

<md-card class="center-block center col-lg-8" *ngIf="employee">
  <md-card-header>
    <div md-card-avatar [style.background-image]="'url(' + employee.avatar + ')'"></div>
    <md-card-title>{{ employee.firstName }} {{ employee.lastName }}</md-card-title>
    <md-card-subtitle>{{ employee.roles }}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      <!--{{ employee.summary }}-->
      Summary needs to be implemented?
    </p>
  </md-card-content>
</md-card>

<md-card class="center-block center col-lg-8" *ngIf="employee">
  <md-card-content>
    <h2>Granted Prestiges</h2>
    <div class="prestige" *ngFor="let endorsement of grantedEndorsements;">
      {{ endorsement.categories }}
      <md-progress-bar [value]="endorsement.score"></md-progress-bar>
    </div>
  </md-card-content>
</md-card>

<md-card class="center-block center col-lg-8" *ngIf="employee">
  <h2>Received Prestiges</h2>
  <md-card-content>
    <div class="prestige" *ngFor="let endorsement of receivedEndorsements;">
      {{ endorsement.categories }}
      <md-progress-bar [value]="endorsement.score"></md-progress-bar>
    </div>
  </md-card-content>
</md-card>
