<div class="center-block center col-lg-8" *ngIf="employee">
  <h3>Detail</h3>
</div>

<md-card class="center-block center col-lg-8" *ngIf="employee">
  <md-card-header>
    <div md-card-avatar [style.background-image]="'url(' + employee.imageurl + ')'"></div>
    <md-card-title>{{ employee.name }}</md-card-title>
    <md-card-subtitle></md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      {{ employee.summary }}
    </p>
  </md-card-content>
</md-card>

<md-card class="center-block center col-lg-8" *ngIf="employee">
  <md-card-content>
    <div class="prestige" *ngFor="let prestige of employee.prestiges;">
      {{ prestige.category }}
      <md-progress-bar [value]="prestige.prestige"></md-progress-bar>
    </div>
  </md-card-content>
</md-card>
