md-card {
  margin-bottom: 2% !important;

  md-card-header {
    div {
      background-size: contain;
    }
  }

  md-card-content {
    .prestige {
      margin-bottom: 2%;
      md-progress-bar {
        height: 10px;
      }
    }
  }
}

/*.employee {
  &__detail {
    text-align: center;

    .custom-circle {
      border: 6px solid #e0e0e0;
      height: 147px;
      width: 145px;
      position: absolute;
      display: inline-block;
      border-radius: 50%;
      left: 2px;
      top: 1px;
      z-index: -1;
    }

    &--circled {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      padding: 35px;
      margin: 0 auto;

      z-index: 1;
      background: #fff;
      position: relative;

      md-icon {
        font-size: 70px;
        margin-left: -45px;
        margin-top: 0;
        z-index: 3;
        color: #505050;
      }
    }
  }
  &__categories {
    position: absolute;
    top: 10px;
    width: 100%;
    left: 0;
    padding: 0 15px;

    &__item {
      margin: 2.5px 0;
      padding: 10px;
      z-index: 0;

      &--left {
        background: linear-gradient(90deg, #fff, #e0e0e0);
        float: left;
        width: 48%;

      }
      &--right {
        background: linear-gradient(-90deg, #fff, #e0e0e0);
        float: right;
        text-align: right;
        width: 48%;
      }
    }
  }
}*/

.center-block {
  float: none;
}

