
.login {
  &__container {
    box-sizing: content-box;
  }

  &__logo {
    margin: 0 auto;
  }

  &__btn--full {
    margin: 20px auto;
    width: 100%;
    &:hover {
      text-decoration: none;
    }
  }

  &--overlay {
    height: 100%;
    width: 100%;
    background: url(../assets/images/login-background.jpg) no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    opacity: 0.8;
    filter: blur(3px);
  }

  md-card-header {
    height: 150px;
  }
}
