<div class="login">
  <div class="login__container">
    <div class="login__overlay"></div>
    <div fxLayout="row"
         fxLayoutAlign="center center" style="min-height: 500px">
      <md-card>
        <md-card-header class="md-card-header__center">
          <md-card-title>
            <img class="login__logo" src="../../assets/images/jworks-logo.png">
          </md-card-title>
        </md-card-header>
        <md-card-content>
          <form novalidate [formGroup]="loginForm" (submit)="login()">
            <p *ngIf="notInCommunity">Please register if you are a member of the JWorks community otherwise please contact one of the admins to add you to the community.</p>
            <p *ngIf="incorrect">Looks like your handle and/or password are incorrect.</p>
            <p *ngIf="error">An unexpected error occured please contact one of the developers.</p>
            <md-input-container
              [ngClass]="{'red': loginForm.controls['handle'].touched && (loginForm.controls['handle'].hasError('required') || errors.email)}">
              <input mdInput required formControlName="handle" class="login__input" id="handle" name="handle"
                     placeholder="Github handle" (blur)="emailCheck($event.target.value)">
              <md-hint *ngIf="loginForm.controls['handle'].hasError('required') && loginForm.controls['handle'].touched"
                       class="hint red">Login is required.
              </md-hint>
              <md-hint *ngIf="errors.email && loginForm.controls['handle'].touched" class="hint red">{{errors.email}}
              </md-hint>
            </md-input-container>
            <md-input-container
              [ngClass]="{'red': loginForm.controls['password'].touched && (loginForm.controls['password'].hasError('required') || loginForm.controls['password'].hasError('minlength'))}">
              <input mdInput required formControlName="password" class="login__input" id="password" name="password"
                     placeholder="Password" type="password">
              <md-hint
                *ngIf="loginForm.controls['password'].hasError('minlength') && loginForm.controls['password'].touched"
                class="hint red">Your password must be 6 characters long.
              </md-hint>
              <md-hint
                *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched"
                class="hint red">Password is required.
              </md-hint>
            </md-input-container>
            <button [disabled]="!loginForm.valid" class="login__btn login__btn--full" md-raised-button="primary">Login
            </button>
            <a class="right register">Register?</a>
          </form>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
