<div class="feedcontainer" *ngIf="endorsements | async">

  <div class="endorsement-row"
       [ngClass]="{'even-row' : even, 'uneven-row': !even}"
       *ngFor="let endorsement of endorsements | async; let index = index; let even = even; let odd = odd;">

    <div
      [ngClass]="{'small-endorsement-card__left': odd, 'small-endorsement-card__right': !odd}"
      class="small-endorsement-card">
    </div>

    <div class="feed-time-line">
      <div class="vertical-line">
        <md-icon>radio_button_unchecked</md-icon>
      </div>
    </div>

    <div
      class="large-endorsement-card"
      [ngClass]="{'small-endorsement-card__left': odd, 'small-endorsement-card__right': !odd}">
      <md-card>
        <md-card-header>
          <div class="endorsement-title">
            <div class="endorsement-people">

              <div class="endorsement-granter">
                <div md-card-avatar class="employee-avatar">
                  <img
                    src="{{'https://api.adorable.io/avatars/285/' + endorsement.granterUsername + '@adorable.io.png'}}"/>
                </div>
                <span class="granter-username">{{ endorsement.granterUsername }}</span>
              </div>

              <md-icon>chevron_right</md-icon>

              <div class="endorsement-receiver">
                <div md-card-avatar class="employee-avatar">
                  <img
                    src="{{'https://api.adorable.io/avatars/285/' + endorsement.receiverUsername + '@adorable.io.png'}}"/>
                </div>
                <span class="receiver-username">{{endorsement.receiverUsername}}</span>
              </div>
            </div>

            <div class="action-icons">
              <md-icon>plus_one</md-icon>
              <a href="{{endorsement.url}}"
                 target="_blank">
                <md-icon>link</md-icon>
              </a>
            </div>

          </div>
        </md-card-header>

        <md-card-content class="endorsement-content">
          <p class="endorsement-reason">
            {{endorsement.reason}}
          </p>
          <md-card-subtitle>Category: {{ endorsement.categories }}</md-card-subtitle>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
