<app-authentication-page>

  <form novalidate
        #loginForm="ngForm"
        (ngSubmit)="login()">

    <p *ngIf="error" class="error-message">
      {{error}}
    </p>

    <md-input-container [ngClass]="{'red': !handle.valid}">
      <input mdInput
             required
             #handle="ngModel"
             [(ngModel)]="loginModel.handle"
             class="login__input"
             name="handle"
             placeholder="Github handle">
      <md-hint [hidden]="handle.valid || handle.pristine"
               class="hint red">Handle is required.
      </md-hint>
    </md-input-container>

    <md-input-container [ngClass]="{'red': !password.valid}">
      <input mdInput
             required
             id="password"
             name="password"
             class="login__input"
             [(ngModel)]="loginModel.password"
             #password="ngModel"
             placeholder="Password"
             type="password">
      <md-hint [hidden]="password.valid || password.pristine"
               class="hint red">
        Password is required.
      </md-hint>
    </md-input-container>

    <div class="button-container">
      <button [disabled]="!loginForm.valid"
              class="login__btn login__btn--full"
              md-raised-button="primary">
        Login
      </button>

      <a md-button class="register-button"
              routerLink="/registration">
        Register
      </a>
    </div>
  </form>

</app-authentication-page>
