/**
  VARIABLES
 */


// COLORS
//------------------------------

$primary-color:               #565A5C;
$secondary-color:             #A5ACAF;
$white:                       #ffffff;

$accent:                      #E98300;
$transparent:                 transparent;
