/*
  VARIABLES
 */
@import '_variables';
/**
  GENERAL COMPONENTS
 */
@import 'general/badge';
@import 'general/modal';

/*
  STYLES
 */
body {
  color: $primary-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: $primary-color;
}

h1, h2, h3, h4, h5, h6 {
  color: #565A5C;
}

html,
body {
  height: 100%;
}

.item-spacer {
  flex: 1 1 auto;
}

.no-padding {
  padding: 0;
}

.md-card-header__center {
  .md-card-header-text {
    margin: 0 auto !important;
  }
}

.center-block {
  float: none;
}

.none {
  display: none !important;
}

md-card {
  margin-bottom: 2% !important;
  margin-top: 1% !important;
  background-color: white;
}

md-card-header md-card-title {
  font-size: 22px !important;
  font-weight: 500 !important;
  color: #565A5C !important;
}
