/*
  VARIABLES
 */
@import '_variables';
/**
  GENERAL COMPONENTS
 */
@import 'general/badge';
@import 'general/modal';
@import 'general/classes';

/*
  STYLES
 */
body {
  color: $primary-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: $primary-color;
}

h1, h2, h3, h4, h5, h6 {
  color: #565A5C;
}

html,
body {
  height: 100%;
}

md-card {
  margin-bottom: 2% !important;
  margin-top: 1% !important;
  background-color: white;
}

md-card-header md-card-title {
  font-size: 22px !important;
  font-weight: 500 !important;
  color: #565A5C !important;
}

md-dialog-container {
  background-color: white;
}


md-option {
  background-color: white;
}

.mat-option:hover:not(.mat-option-disabled), .mat-option:hover:not(.mat-option-disabled) {
  background-color: #F1F1F1;
}
