/*
  VARIABLES
 */
@import '_variables';
/**
  GENERAL COMPONENTS
 */
@import 'general/badge';
@import 'general/modal';

/*
  STYLES
 */
body {
  color: $primary-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: $primary-color;
}

h1, h2, h3, h4, h5, h6 {
  color: #565A5C;
}

html,
body {
  height: 100%;
}

.item-spacer {
  flex: 1 1 auto;
}

.md-card-header-text {
  margin: 0 auto !important;
}
