<div class="paging-controls">

  <button [disabled]="!previousPageEnabled"
          (click)="previousPage()"
          class=""
          md-raised-button="primary">
    Previous
  </button>

  <div class="page-number-buttons" *ngIf="goToPage">

    <button
      *ngIf="currentPageSet > 0 && pageSets.length > 0"
      (click)="previousPageSet()"
      md-raised-button="primary">
      ...
    </button>

    <button *ngFor="let value of pageSets[currentPageSet], let index = index"
            (click)="goToSpecificPage(calculatePageNumberFromIndex(index))"
            [ngClass]="{'active': currentPage === calculatePageNumberFromIndex(index)}"
            md-raised-button="primary">
      {{ calculatePageNumberFromIndex(index) + 1}}
    </button>

    <button
      *ngIf="currentPageSet < pageSets.length - 1 && pageSets.length > 0"
      (click)="nextPageSet()"
      md-raised-button="primary">
      ...
    </button>
  </div>

  <button [disabled]="!nextPageEnabled"
          class=""
          (click)="nextPage()"
          md-raised-button="primary">
    Next
  </button>

</div>
