@import "../../../../styles/variables";

.paging-controls {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 10px;

  .active {
    color: $accent;
  }

  button {
    background-color: white;
    color: #565A5C;
    margin-left: 2px;
    margin-right: 2px;
  }

  button:disabled {
    background-color: #E1E1E1;
    color: #8C8C8C;
  }

  .page-number-buttons {
    margin: 0;
    padding: 0;
  }

}
