<div class="paging-controls">

  <button md-mini-fab
          [disabled]="!previousPageEnabled()"
          (click)="previousPage()">
    <md-icon>keyboard_arrow_left</md-icon>
  </button>

  <div class="page-number-buttons" *ngIf="goToPage">

    <button
      *ngIf="pageSets.length > 0"
      [disabled]="currentPageSet === 0"
      (click)="previousPageSet()"
      md-mini-fab>
      ...
    </button>

    <button *ngFor="let value of pageSets[currentPageSet], let index = index"
            (click)="goToSpecificPage(calculatePageNumberFromIndex(index))"
            [ngClass]="{'active': currentPage === calculatePageNumberFromIndex(index)}"
            md-mini-fab>
      {{ calculatePageNumberFromIndex(index) + 1}}
    </button>

    <button
      *ngIf="pageSets.length > 0"
      [disabled]="currentPageSet === pageSets.length - 1"
      (click)="nextPageSet()"
      md-mini-fab>
      ...
    </button>
  </div>

  <button [disabled]="!nextPageEnabled()"
          md-mini-fab
          (click)="nextPage()">
    <md-icon>keyboard_arrow_right</md-icon>
  </button>

</div>
