<md-toolbar *ngIf="authService.userLoggedIn && authService.loggedInUser?.name" [color]="primary">
  <div class="header__logo"></div>
  <a class="header__logo__link"
     (click)="switchToFirstTab()" routerLink="/prestige-feed" routerLinkActive="active">
    <strong>JWorks</strong>
    <span> Prestige</span>
  </a>
  <span class="item-spacer"></span>
  <search-employees class="col-md-6"></search-employees>
  <span class="item-spacer"></span>

  <md-icon (click)="openAccountDetail()" class="header__btn header__btn--icon">person</md-icon>

  <p style="position: relative; top: 5px;">{{ authService.loggedInUser?.name }}</p>

  <a href="" (click)="logout()" [hidden]="!authService.userLoggedIn">
    <md-icon class="header__btn header__btn--icon">panorama_fish_eye</md-icon>
  </a>

  <!--<a href="{{githubUrl}}" [hidden]="authService.userLoggedIn">
    <md-icon class="header__btn header__btn&#45;&#45;icon">lens</md-icon>
  </a>-->

  <div class="">
    <md-icon (click)="openAddPrestige()" class="header__btn header__btn--icon">plus_one</md-icon>
  </div>

  <md-toolbar-row class="header__background-image"></md-toolbar-row>

  <md-toolbar-row>
    <md-tab-group (focusChange)="changeTab($event)" [(selectedIndex)]="activeTabIndex">
      <md-tab>
        <template md-tab-label>
          <a routerLink="/prestige-feed" routerLinkActive="active">Prestige</a>
        </template>
      </md-tab>
      <md-tab>
        <template md-tab-label>
          <a routerLink="/employee-detail" routerLinkActive="active">My prestige</a>
        </template>
      </md-tab>
      <md-tab>
        <template md-tab-label>
          <a routerLink="/employee-ranking" routerLinkActive="active">Ranking</a>
        </template>
      </md-tab>
    </md-tab-group>
  </md-toolbar-row>
</md-toolbar>

<div class="container-fluid" [ngClass]="{'loginBackground': !authService.userLoggedIn}">
  <div [ngClass]="{'transparentOverlay': !authService.userLoggedIn}"></div>
  <router-outlet></router-outlet>
</div>
