<md-toolbar [color]="primary">
  <div class="header__logo"></div>
  <a class="header__logo__link"
     routerLink="/prestige-feed" routerLinkActive="active">
    <strong>JWorks</strong>
    <span> Prestige</span>
  </a>
  <span class="item-spacer"></span>
  <search-employees class="col-md-6"></search-employees>
  <span class="item-spacer"></span>
  <md-icon (click)="openAccountDetail()">person</md-icon>

  <md-icon (click)="openAddPrestige()">plus_one</md-icon>

  <md-toolbar-row class="header__background-image"></md-toolbar-row>

  <md-toolbar-row>
    <md-tab-group (focusChange)="changeTab($event)">
      <md-tab>
        <template md-tab-label>
          <a routerLink="/prestige-feed" routerLinkActive="active">Prestige</a>
        </template>
      </md-tab>
      <md-tab>
        <template md-tab-label>
          <a routerLink="/employee-detail" routerLinkActive="active">My prestige</a>
        </template>
      </md-tab>
      <md-tab>
        <template md-tab-label>
          <a routerLink="/employee-ranking" routerLinkActive="active">Ranking</a>
        </template>
      </md-tab>
    </md-tab-group>
  </md-toolbar-row>
</md-toolbar>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
