.header {
  &__container {
    background: url('../assets/images/header.jpg') no-repeat center center;
    background-size: cover;
    height: 115px;
  }
  &__logo {
    background: url('../assets/images/jworks-logo.png') no-repeat left top;
    height: 50px;
    width: 60px;
    background-size: contain;
  }
}

.item-spacer {
  flex: 1 1 auto;
}

nav {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 25px;
  width: 95%;

  .nav__item {
    padding: 0 25px;
  }
}
