<div class="container-fluid no-padding">
  <md-toolbar color="primary">
    <div class="header__logo"></div>
    <a routerLink="/prestige-feed" routerLinkActive="active">
      <strong>JWorks</strong><span class="hide-mobile"> Prestige</span>
    </a>
    <span class="item-spacer"></span>
    <search-employees class="col-md-6"></search-employees>
    <span class="item-spacer"></span>
    <md-icon>person</md-icon>
  </md-toolbar>
  <div class="header__container"></div>

  <nav class="container-fluid">
    <a class="nav__item" routerLink="/prestige-feed" routerLinkActive="active">Prestige</a>
    <a class="nav__item" routerLink="/prestige-detail" routerLinkActive="active">My prestige</a>
  </nav>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
