<div *ngIf="endorsement"
     class="endorsement">
  <h3>Add Endorsement</h3>

  <form (ngSubmit)="addEndorsement()"
        #endorsementForm="ngForm"
        class="endorsement__form">

    <md-grid-list cols="10"
                  rowHeight="4em"
                  gutterSize="5px">
      <md-grid-tile colspan="2">
        <md-select placeholder="Select co-worker"
                   [(ngModel)]="endorsement.receiverUsername"
                   name="Receiver">
          <md-option *ngFor="let employee of employees | async"
                     [value]="employee.username">
            {{employee.username}}
          </md-option>
        </md-select>
      </md-grid-tile>

      <md-grid-tile colspan="2">
        <md-select placeholder="Select a category"
                   [(ngModel)]="endorsement.categories"
                   name="Categories">
          <md-option *ngFor="let category of categories | async"
                     [value]="[category.name]">
            {{category.name}}
          </md-option>
        </md-select>
      </md-grid-tile>

      <md-grid-tile colspan="4">
        <md-input-container>
          <input mdInput
                 [(ngModel)]="endorsement.reason"
                 name="Reason">
          <md-placeholder>Reason</md-placeholder>
          <md-hint align="end">{{endorsement.reason?.length || 0}} / 140</md-hint>
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile colspan="2">
        <md-input-container>
          <input mdInput
                 [(ngModel)]="endorsement.url"
                 name="Url">
          <md-placeholder>Url</md-placeholder>
          <md-hint align="end">{{endorsement.url?.length || 0}} / 50</md-hint>
        </md-input-container>
      </md-grid-tile>
    </md-grid-list>

    <div class="col-lg-12">
      <button md-raised-button>Save</button>
    </div>

  </form>
</div>
