@import '../../../styles/variables';

.rank-item{
  padding: 0.8em !important;
  background-color: #A5ACAF !important;
  font-size: 14px !important;
}

.rank-item.rank-item__primary {
  font-size: 20px !important;
}

.rank-item.rank-item__secondary {
  font-size: 18px !important;
}

.rank-item.rank-item__thirstary {
  font-size: 16px !important;
}

.rank-item.rank-item__row {
  background: rgba(245, 245, 245, 1.0);
  border-left: 1px solid $white;
  width: 50%;
  display: inline-block !important;
}

/*.rank {
  list-style: none;

  &-item {
    font-size: 14px;
    padding: 10px;
    margin: 5px 0;
    background: linear-gradient(90deg, $white, #e0e0e0);

    .badge {
      margin-right: 10px;
    }



    &__primary {
      color: #505050;
      font-size: 24px;
      font-weight: bold;

      &.badge {
        color: #505050;
        border-color: #505050;
      }
    }

    &__secondary {
      font-size: 18px;
      font-weight: bold;
    }

    &__thirstary {
      font-size: 15px;
    }
  }

}*/
