<md-card *ngIf="employee | async">
  <md-card-header>
    <div md-card-avatar>
      <img src="{{(employee | async)?.avatar}}"/>
    </div>
    <md-card-title>{{ employee.firstName }} {{ employee.lastName }}</md-card-title>
    <md-card-subtitle>{{ employee.roles }}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      <!--{{ employee.summary }}-->
      Summary needs to be implemented?
    </p>
  </md-card-content>
</md-card>

<md-card *ngIf="employee | async">
  <md-card-content>
    <h2>Granted Endorsements</h2>
    <div class="endorsement"
         *ngFor="let endorsement of grantedEndorsements | async">
      {{ endorsement.categories }}
      <md-progress-bar [value]="endorsement.score"></md-progress-bar>
    </div>
  </md-card-content>
</md-card>

<md-card *ngIf="employee">
  <h2>Received Endorsements</h2>
  <md-card-content>
    <div class="endorsement"
         *ngFor="let endorsement of receivedEndorsements | async">
      {{ endorsement.categories }}
      <md-progress-bar [value]="endorsement.score"></md-progress-bar>
    </div>
  </md-card-content>
</md-card>
