@import '../../../../styles/variables';

.search-employees {

  margin-top: 7px;
}

.employee-search-option {

  display: flex;
  flex-direction: row;
  height: 40px;
  padding: 7px 0;

  &__avatar {
    flex-grow: 0;
    img {
      width: 40px;
      height: 40px;
    }
  }

  &__name {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;

    font-size: 10pt;
    margin-left: 10px;

    span {
      line-height: normal;
    }

  }

}
